.sort-wrapper{
    margin-top: 30px;
}
.sort{
    display: flex;
    align-items:center;
}
.sort__title{

}
.sort__active-item{
    --height:30px;
    width: 175px;
    padding: 0 12px;
    margin: 0 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main);
    color: white;
    position: relative;
    height: var(--height);
    z-index: 10;
    margin-left: 5px;

}
.sort__list{
    top:var(--height);
    margin-bottom: 0;
    cursor: pointer;
    padding: 5px 0;
    position: absolute;
    transition: all .2s linear;
    opacity: 1;
    left: 0;

}
.hidden{
  opacity: 0;
}

svg.sort-icon{
    transform: rotate(180deg);
    animation: rotate .2s linear;
}
@keyframes rotate {
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0);
    }

}
.sort__item{
    list-style-type: none;
    padding: 2px 20px;
    text-align: center;
    border: 1px solid var(--main);
    margin-top: 2px;
    transition: all .2s linear;
    backdrop-filter: blur(4px);
    color: black;
}
.sort__item:hover{
    color: var(--white);
    background-color: var(--main);

}