.search {
    width: 35%;
    display: flex;
    justify-content: center;
}

.input-search {
    display: block;

    max-width: 500px;
    width: 100%;
    outline: none;
    padding: 5px 10px;
    border: 1px solid #ccc;

}
.input-search::-webkit-input-placeholder{
    font-size: 16px;

  

}
.btn-search {

    outline: none;
    color: var(--white);
    cursor: pointer;
    width: max-content;

    background-color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    padding: 0 20px;
    border: 1px solid var(--main);
    transition: all .2s linear;
}
.btn-search:hover{

    background-color: var(--white);
    color: var(--black);
}
.search.mobile{
    margin-top: 10px;
    width: 100%;
    padding: 10px 30px;
}
.btn-search.mobile{
    color: black;
    background-color: white;

    border: 1px solid #ccc;
}
.btn-search.mobile:hover{

    color: var(--white);
    background-color: var(--main);
}